.nav-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will space out the nav items */
  padding: 5px 0px; /* Reduced padding to make the bar narrower */
  background-color: #f8f8f8; /* Example background color */
}

.nav-bar > div {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar button {
  width: 50px;
  height: 50px;
  text-align: center;

}

.nav-bar button:hover {
  cursor: pointer;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: right;
}
.nav-item > span {
  margin-bottom: 5px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

span {
  margin-top: 0px;
}
