.nav-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.nav-bar > div {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar button {
  width: 50px;
  height: 50px;
}

.nav-bar button:hover {
  cursor: pointer;
}

.nav-bar button {
  font-size: x-small;
}

/* Navbar.css */
.nav-bar {
  display: flex;
  justify-content: space-between; /* This will space out the nav items */
  padding: 0px 10px; /* Reduced padding to make the bar narrower */
  background-color: #f8f8f8; /* Example background color */
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

span {
  margin-top: 5px;
}
