.scanner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.scanner-webcam-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scanner-webcam {
  max-height: 450px;
  max-width: 300px;
  border: 2px solid black;
  border-radius: 5px;
}

.scanner-webcam-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  overflow-y: auto;
  overflow-x: clip;
  max-width: 300px;
}

.scanner-webcam-controls > h3 {
  font-size: 18px;
  text-align: center;
  margin:2%;
  width: 100%; /* Ensure it takes full width for text-align to effectively center the text */
}

.scanner-webcam-controls > input {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.scanner-webcam-buttons > button {
  background-color: rgb(99, 201, 238);
  color: white;
  padding: 8px 10px;
  margin-inline: 3px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scanner-webcam-controls > button:hover {
  background-color: rgb(40, 154, 236); /* Slightly darker blue on hover for visual feedback */
}

.scanner-content {
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
}

.scanner-translations-container {
  max-height: 500px;
  max-width: 300px;
  margin: 20px;
  overflow-y: auto;
}

.scanner-display-image-and-translations {
  max-height: 450px;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scanner-display-image-and-translations > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.scanner-default-link {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #007bff; /* Blue border color */
  background-color: #e7f0ff; /* Light blue background */
  margin-bottom: 20px; /* Space between the two divisions */
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em; /* Larger text */
  cursor: pointer;
  text-align: center;
}

.scanner-default-link:hover {
  background-color: #d0e2ff; /* Slightly darker blue on hover */
}

.scanner-compatibility-link {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffa500; /* Orange background */
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em; /* Larger text */
  cursor: pointer;
  text-align: center;
}

.scanner-compatibility-link:hover {
  background-color: #ffbf00; /* Slightly darker orange on hover */
}

.scanner-compatibilty-images > img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
}

.scanner-compatibilty-images {
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.scanner-compatibility-comparison-result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scanner-compatibility-comparison-result > button {
  margin-top: 30px;
}
